.container {
    padding-top: 12px;
    width: fit-content;
    margin: 0 auto;
}

.scoreContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 4px;
    align-items: center;
}

.leftScore {
    justify-self: end;
}

.rightScore {
    justify-self: start;
}
